<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Customer\Block\Account\Customer;
use Hyva\Theme\ViewModel\ReCaptcha;

/** @var Escaper $escaper */
/** @var Customer $block */

/** @var ReCaptcha $recaptchaViewModel */
//Do not replace this with $viewModels->require(ReCaptcha::class); that might break the dependency on
//Magento's Recaptcha module
$recaptchaViewModel = $block->getData('viewModelRecaptcha');
$recaptchaInputFieldBlock = '';
$recaptchaLegalNoticeBlock = '';
if ($recaptchaViewModel !== null && $recaptchaData = $recaptchaViewModel->getRecaptchaData('customer_login')) {
    $recaptchaInputFieldBlock = $recaptchaData[ReCaptcha::RECAPTCHA_INPUT_FIELD];
    $recaptchaLegalNoticeBlock = $recaptchaData[ReCaptcha::RECAPTCHA_LEGAL_NOTICE_BLOCK];
}
?>
<script>
    function initAuthentication() {
        return {
            open: false,
            forceAuthentication: false,
            checkoutUrl: '<?= $escaper->escapeUrl($block->getUrl('checkout/index')) ?>',
            errors: 0,
            hasCaptchaToken: 0,
            displayErrorMessage: false,
            errorMessages: [],
            setErrorMessages: function setErrorMessages(messages) {
                this.errorMessages = [messages]
                this.displayErrorMessage = this.errorMessages.length
            },
            submitForm: function () {
                var $form = document.querySelector('#login-form');
                <?= $block->getChildHtml('recaptcha_validation_customer_login'); ?>

                if (this.errors === 0) {
                    this.dispatchLoginRequest($form);
                }
            },
            onPrivateContentLoaded: function (data) {
                const isLoggedIn = data.customer && data.customer.firstname;
                if (data.cart && !isLoggedIn) {
                    this.forceAuthentication = !data.cart.isGuestCheckoutAllowed;
                }
            },
            redirectIfAuthenticated: function (event) {
                if (event.detail && event.detail.url){
                    this.checkoutUrl = event.detail.url;
                }
                if (!this.forceAuthentication) {
                    window.location.href = this.checkoutUrl;
                }
            },
            dispatchLoginRequest: function(form) {
                this.isLoading = true;
                var username = this.$refs['customer-email'].value;
                var password = this.$refs['customer-password'].value;
                var formKey = document.querySelector('input[name=form_key]').value;
                var bodyFields = {
                    'username': username,
                    'password': password,
                    'formKey': formKey
                };
                var recaptchaField = form.querySelector('input[name=g-recaptcha-response]');
                if (recaptchaField != null) {
                    bodyFields['g-recaptcha-response'] = recaptchaField.value;
                }
                fetch('<?= $escaper->escapeUrl($block->getUrl('customer/ajax/login')) ?>', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        body: JSON.stringify(bodyFields)
                    }
                ).then(response => {
                        return response.json()
                    }
                ).then(data=> {
                    this.isLoading = false;
                    if (data.errors) {
                        dispatchMessages([{
                            type: 'error',
                            text: data.message
                        }], 5000);
                        this.errors = 1;
                        this.hasCaptchaToken = 0;
                    } else {
                        window.location.href = this.checkoutUrl;
                    }
                });
            }
        }
    }
</script>
<section id="authentication-popup"
         x-data="initAuthentication()"
         @private-content-loaded.window="onPrivateContentLoaded(event.detail.data)"
         @toggle-authentication.window="open = forceAuthentication; redirectIfAuthenticated(event)"
         @keydown.window.escape="open = false"
>
        <div role="dialog"
             aria-modal="true"
             @click.away="open = false"
             class="hidden inset-y-0 right-0 z-30 flex max-w-full"
             :class="{ 'hidden': !open, 'fixed': open }"
        >
            <div class="relative w-screen max-w-md pt-16 bg-container-lighter"
                 x-show="open"
                 x-cloak=""
                 x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
                 x-transition:enter-start="translate-x-full"
                 x-transition:enter-end="translate-x-0"
                 x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
                 x-transition:leave-start="translate-x-0"
                 x-transition:leave-end="translate-x-full"
            >
                <div
                    x-show="open"
                    x-cloak=""
                    x-transition:enter="ease-in-out duration-500"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="ease-in-out duration-500"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0" class="absolute top-0 right-0 flex p-2 mt-2">
                    <button @click="open = false;" aria-label="Close panel"
                            class="p-2 text-gray-300 transition duration-150 ease-in-out hover:text-black">
                        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" d="M6 18L18 6M6 6l12 12">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col h-full py-6 space-y-6 bg-white shadow-xl overflow-y-auto">
                    <div class="block-customer-login bg-container border border-container mx-4 p-4 shadow-sm">
                        <h2 id="authenticate-customer-login" class="text-lg font-medium leading-7 text-gray-900">
                            <?= $escaper->escapeHtml(__('Checkout using your account')) ?>
                        </h2>

                        <form class="form form-login"
                              method="post"
                              @submit.prevent="submitForm();"
                              id="login-form"
                        >
                            <?= $block->getBlockHtml($recaptchaInputFieldBlock) ?>
                            <div class="fieldset login">
                                <div class="field email required">
                                    <label class="label" for="customer-email">
                                        <span><?= $escaper->escapeHtml(__('Email Address')) ?></span>
                                    </label>
                                    <div class="control">
                                        <input name="username"
                                               x-ref="customer-email"
                                               type="email"
                                               required
                                               class="form-input input-text"
                                        >
                                    </div>
                                </div>
                                <div class="field password required">
                                    <label for="pass" class="label">
                                        <span><?= $escaper->escapeHtml(__('Password')) ?></span>
                                    </label>
                                    <div class="control">
                                        <input name="password"
                                               type="password"
                                               class="form-input input-text"
                                               required
                                               x-ref="customer-password"
                                        >
                                    </div>
                                </div>

                                <input name="context" type="hidden" value="checkout" />
                                <div class="actions-toolbar flex justify-between pt-6 pb-2 items-center">
                                    <button type="submit"
                                            class="inline-flex btn btn-primary"
                                    >
                                        <?= $escaper->escapeHtml(__('Sign In')) ?>
                                    </button>
                                    <a href="<?= $escaper
                                        ->escapeUrl($block->getUrl('customer/account/forgotpassword')) ?>"
                                    >
                                        <?= $escaper->escapeHtml(__('Forgot Your Password?')) ?>
                                    </a>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="w-full">
                        <?= $block->getBlockHtml($recaptchaLegalNoticeBlock) ?>
                    </div>
                    <div class="block-new-customer bg-container border border-container mx-4 p-4 shadow-sm">
                        <h2 id="authenticate-new-customer" class="text-lg mb-2 font-medium leading-7 text-gray-900">
                            <?= $escaper->escapeHtml(__('Checkout as a new customer')) ?>
                        </h2>

                        <div class="block-content">
                            <p class="mb-1">
                                <?= $escaper->escapeHtml(__('Creating an account has many benefits:')) ?>
                            </p>
                            <ul class="list-disc pl-5">
                                <li> <?= $escaper->escapeHtml(__('See order and shipping status')) ?></li>
                                <li> <?= $escaper->escapeHtml(__('Track order history')) ?></li>
                                <li> <?= $escaper->escapeHtml(__('Check out faster')) ?></li>
                            </ul>
                            <div class="actions-toolbar flex justify-between mt-6 mb-2 items-center">
                                <a href="<?= $escaper->escapeUrl($block->getUrl('customer/account/create')) ?>"
                                   class="inline-flex btn btn-primary">
                                    <?= $escaper->escapeHtml(__('Create an Account')) ?>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
