<?php

/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */
use Magento\Framework\Escaper;
use Magento\Review\Block\Form;
use Hyva\Theme\ViewModel\ReCaptcha;

/* @var Escaper $escaper */
/* @var Form $block */

//phpcs:disable Generic.Files.LineLength

$formId = 'review_form';

/** @var ReCaptcha $recaptchaViewModel */
//Do not replace this with $viewModels->require(ReCaptcha::class); that might break the dependency on
//Magento's Recaptcha module
$recaptchaViewModel = $block->getData('viewModelRecaptcha');
$recaptchaInputFieldBlock = '';
$recaptchaLegalNoticeBlock = '';
if ($recaptchaViewModel !== null && $recaptchaData = $recaptchaViewModel->getRecaptchaData('product_review')) {
    $recaptchaInputFieldBlock = $recaptchaData[ReCaptcha::RECAPTCHA_INPUT_FIELD];
    $recaptchaLegalNoticeBlock = $recaptchaData[ReCaptcha::RECAPTCHA_LEGAL_NOTICE_BLOCK];
}
?>
<div class="container mx-auto px-5 py-6 items-center" id="customer-reviews">
    <div class="card w-full px-6 py-3">
        <div class="text-xl my-3">
            <?= $escaper->escapeHtml(__('Write Your Own Review')) ?>
        </div>
        <?php if ($block->getAllowWriteReviewFlag()): ?>
            <form class="review-form"
                  id="<?= $escaper->escapeHtmlAttr($formId) ?>"
                  @submit.prevent="submitForm()"
                  action=""
                  x-data="initReviewForm()"
            >
                <?= $block->getChildHtml('form_fields_before') ?>
                <?= $block->getBlockHtml($recaptchaInputFieldBlock) ?>
                <fieldset>
                    <legend class="text-xs">
                        <span>
                            <?= $escaper->escapeHtml(
                                __("You're reviewing:")
                            ) ?>
                        </span>
                        <span class="font-semibold">
                            <?= $escaper->escapeHtml($block->getProductInfo()->getName()) ?>
                        </span>
                    </legend>
                    <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
                        <fieldset>
                            <div class="flex flex-row items-center mt-4 mb-3">
                                <div class="text-md"><?= $escaper->escapeHtml(__('Your Rating')) ?>:</div>
                                <div class="ml-1">
                                    <div id="product-review-table">
                                        <?php foreach ($block->getRatings() as $rating): ?>
                                            <div class="ml-1">
                                                <label class="sr-only"
                                                    id="<?= $escaper->escapeHtml($rating->getRatingCode()) ?>_rating_label">
                                                    <span><?= $escaper->escapeHtml($rating->getRatingCode()) ?></span>
                                                </label>
                                                <div class="flex flex-row flex-grow-0"
                                                     x-data="{ clickedRatingId: 0 }">
                                                    <?php $options = $rating->getOptions(); ?>
                                                    <?php $iterator = 1;
                                                    foreach ($options as $_option): ?>
                                                        <div class="relative"
                                                             @click="clickedRatingId = <?= (int)$iterator ?> || 0">
                                                            <input
                                                                class="absolute opacity-0 bottom-0 left-0 cursor-pointer"
                                                                type="radio"
                                                                <?php if ($iterator === 1): ?>required<?php endif; ?>
                                                                name="ratings[<?= $escaper
                                                                    ->escapeHtmlAttr($rating->getId()) ?>]"
                                                                id="<?= $escaper
                                                                    ->escapeHtmlAttr(
                                                                        $rating->getRatingCode() .
                                                                        '_' .
                                                                        $_option->getValue()
                                                                    ) ?>"
                                                                value="<?= $escaper
                                                                    ->escapeHtmlAttr($_option->getId()) ?>"/>
                                                            <label
                                                                class="rating-<?= (int)$iterator ?> m-0 cursor-pointer"
                                                                for="<?= $escaper
                                                                     ->escapeHtmlAttr(
                                                                         $rating->getRatingCode() .
                                                                         '_' .
                                                                         $_option->getValue()
                                                                     ) ?>"
                                                                title="<?= $escaper
                                                                       ->escapeHtmlAttr(
                                                                           __(
                                                                               '%1 %2',
                                                                               $iterator,
                                                                               $iterator > 1
                                                                                    ? __('stars')
                                                                                    : __(
                                                                                        'star'
                                                                                    )
                                                                           )
                                                                       ) ?>"
                                                                id="<?= $escaper
                                                                    ->escapeHtmlAttr(
                                                                        $rating->getRatingCode() .
                                                                        '_' .
                                                                        $_option->getValue()
                                                                    ) ?>_label">
                                                                <span>
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                         viewBox="0 0 20 20" fill="currentColor"
                                                                         class="fill-current h-8 w-8"
                                                                    :class="<?= (int)$iterator ?> <= clickedRatingId ?
                                                                        'text-yellow-400' :
                                                                        'text-gray-400'"
                                                                    >
                                                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0
                                                      00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364
                                                      1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0
                                                      00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1
                                                      1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1
                                                      0 00.951-.69l1.07-3.292z"/>
                                                                    </svg>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <?php $iterator++; ?>
                                                    <?php endforeach; ?>
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                    <input type="hidden" name="validate_rating" value=""/>
                                </div>
                            </div>
                        </fieldset>
                    <?php endif ?>
                    <div>
                        <div>
                            <label for="nickname_field" class="sr-only">
                                <span><?= $escaper->escapeHtml(__('Nickname')) ?></span>
                            </label>
                            <div>
                                <input class="form-input mt-3 block w-full text-sm"
                                       required
                                       title="<?= $escaper->escapeHtmlAttr(__('Nickname')) ?>"
                                       placeholder="<?= $escaper->escapeHtmlAttr(__('Nickname') . '*') ?>" type="text"
                                       name="nickname" id="nickname_field"/>
                            </div>
                        </div>
                        <div>
                            <label for="summary_field" class="sr-only">
                                <span><?= $escaper->escapeHtml(__('Summary')) ?></span>
                            </label>
                            <div>
                                <input class="form-input mt-3 block w-full text-sm"
                                       required
                                       title="<?= $escaper->escapeHtml(__('Summary')) ?>"
                                       placeholder="<?= $escaper->escapeHtml(__('Summary') . '*') ?>" type="text"
                                       name="title"
                                       id="summary_field"/>
                            </div>
                        </div>
                        <div>
                            <label for="review_field" class="sr-only">
                                <span><?= $escaper->escapeHtml(__('Review')) ?></span>
                            </label>
                            <div>
                            <textarea class="form-input mt-3 block w-full text-sm"
                                      required
                                      title="<?= $escaper->escapeHtml(__('Review')) ?>"
                                      placeholder="<?= $escaper->escapeHtml(__('Review') . '*') ?>" name="detail"
                                      id="review_field" cols="5"
                                      rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="my-3">
                    <div>
                        <button x-show="!displaySuccessMessage" type="submit"
                                class="btn btn-primary">
                            <span>
                                <?= $escaper->escapeHtml(__('Submit Review')) ?>
                            </span>
                        </button>
                        <div class="flex flex-row justify-start items-center w-full"
                             x-show="isLoading">
                            <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                            <svg width="57" height="57" viewBox="0 0 57 57" xmlns="http://www.w3.org/2000/svg"
                                 stroke="#fff" style="transform: scale(0.6)"
                                 class="stroke-current text-primary">
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(1 1)" stroke-width="2">
                                        <circle cx="5" cy="50" r="5">
                                            <animate attributeName="cy"
                                                     begin="0s" dur="2.2s"
                                                     values="50;5;50;50"
                                                     calcMode="linear"
                                                     repeatCount="indefinite"/>
                                            <animate attributeName="cx"
                                                     begin="0s" dur="2.2s"
                                                     values="5;27;49;5"
                                                     calcMode="linear"
                                                     repeatCount="indefinite"/>
                                        </circle>
                                        <circle cx="27" cy="5" r="5">
                                            <animate attributeName="cy"
                                                     begin="0s" dur="2.2s"
                                                     from="5" to="5"
                                                     values="5;50;50;5"
                                                     calcMode="linear"
                                                     repeatCount="indefinite"/>
                                            <animate attributeName="cx"
                                                     begin="0s" dur="2.2s"
                                                     from="27" to="27"
                                                     values="27;49;5;27"
                                                     calcMode="linear"
                                                     repeatCount="indefinite"/>
                                        </circle>
                                        <circle cx="49" cy="50" r="5">
                                            <animate attributeName="cy"
                                                     begin="0s" dur="2.2s"
                                                     values="50;50;5;50"
                                                     calcMode="linear"
                                                     repeatCount="indefinite"/>
                                            <animate attributeName="cx"
                                                     from="49" to="49"
                                                     begin="0s" dur="2.2s"
                                                     values="49;5;27;49"
                                                     calcMode="linear"
                                                     repeatCount="indefinite"/>
                                        </circle>
                                    </g>
                                </g>
                            </svg>
                            <div class="ml-4 text-primary">
                                <?= $escaper->escapeHtml(__('Loading...')) ?>
                            </div>
                        </div>
                        <p x-show="displaySuccessMessage" class="text-green flex items-center">
                            <span class="inline-block w-8 h-8 mr-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
                            <?= $escaper->escapeHtml(__('You submitted your review for moderation.')) ?>
                        </p>
                        <template x-if="displayErrorMessage">
                            <p class="text-red flex items-center">
                                <span class="inline-block w-8 h-8 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                </span>
                                <template x-for="errorMessage in errorMessages">
                                    <span x-html="errorMessage"></span>
                                </template>
                            </p>
                        </template>
                    </div>
                    <?= $block->getChildHtml('form_additional_after') ?>
                    <?= $block->getBlockHtml($recaptchaLegalNoticeBlock) ?>
                </div>
            </form>

            <script defer>
                function initReviewForm() {

                    return {
                        isLoading: false,
                        displayNickname: false,
                        displaySuccessMessage: false,
                        displayErrorMessage: false,
                        errorMessages: [],
                        errors: 0,
                        hasCaptchaToken: 0,
                        nickname: null,
                        summary: null,
                        ratings: [],
                        review: null,
                        setErrorMessages: function (messages) {
                            this.errorMessages = [messages]
                            this.displayErrorMessage = this.errorMessages.length
                        },
                        submitForm: function () {
                            var $form = document.querySelector('#<?= $escaper->escapeJs($formId) ?>');
                            this.validate();

                            <?= $block->getChildHtml('recaptcha_validation'); ?>

                            if (this.errors === 0) {
                                this.placeReview();
                            }
                        },
                        validate: function () {
                            this.nickname = document.getElementById('nickname_field').value;
                            this.summary = document.getElementById('summary_field').value;
                            this.review = document.getElementById('review_field').value;

                            var ratingValue;
                            <?php foreach ($block->getRatings() as $rating): ?>
                            try {
                                ratingValue =
                                    document
                                        .querySelector('input[name="ratings[<?= (int)$rating->getId() ?>]"]:checked')
                                        .value;
                                this.ratings[<?= $escaper->escapeJs($rating->getId()) ?>] = btoa(ratingValue);
                            } catch (e) {
                                console.log(e);
                            }
                            <?php endforeach; ?>

                            if (!(this.nickname &&
                                this.summary &&
                                this.review &&
                                Object.keys(this.ratings).length === <?= count($block->getRatings()) ?>
                            )) {
                                this.setErrorMessages(
                                    ['<?= $escaper
                                        ->escapeJs(
                                            __('Please verify you\'ve entered all required information')
                                        ) ?>']
                                );
                                this.displayErrorMessage = true;
                                this.errors = 1;
                                this.hasCaptchaToken = 0;
                            }
                        },
                        placeReview: function (itemId, qty) {
                            var $this = this;

                            $this.isLoading = true;
                            $this.displayErrorMessage = false;

                            <?php $createProductReviewQuery = json_encode(
                                '
                                    mutation {
                                        createProductReview(
                                            input: {
                                            sku: "' . $escaper->escapeJs($block->getProductInfo()->getSku()) . '",
                                                nickname: "%nickname",
                                                summary: "%summary",
                                                text: "%review",
                                                ratings: [%ratings]
                                        }
                                    ) {
                                            review {
                                                nickname
                                            }
                                        }
                                    }
                                '
                            ); ?>

                            var createProductReviewQuery = <?= /** @noEscape */ $createProductReviewQuery ?>
                                .replace('%nickname', $this.nickname)
                                .replace('%summary', $this.summary)
                                .replace('%review', $this.review)
                                .replace('%ratings', Object.keys($this.ratings).map(function (key) {
                                    return '{ id: "' + btoa(key) + '", value_id: "' + $this.ratings[key] + '" }'
                                }).join(','));


                            fetch('<?= $escaper->escapeUrl($block->getBaseUrl()) ?>graphql', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json;charset=utf-8'
                                },
                                body: JSON.stringify({query: createProductReviewQuery})
                            })
                                .then(function (response) {
                                    return response.json()
                                })
                                .then(
                                    function (data) {
                                        $this.isLoading = false;
                                        if (data.errors) {
                                            $this.setErrorMessages(['<?= $escaper->escapeJs(__('Submitting your review failed, please try again.')) ?>']);
                                            $this.displayErrorMessage = true;
                                        } else {
                                            $this.displaySuccessMessage = true;
                                        }
                                    }
                                );
                        }
                    }
                }
            </script>
        <?php else: ?>
            <div id="review-form">
                <div class="pb-6">
                    <?= $escaper->escapeHtml(
                        __(
                            'Only registered users can write reviews. Please <a href="%1" class="underline">Sign in</a> or <a href="%2" class="underline">create an account</a>',
                            $block->getLoginLink(),
                            $block->getRegisterUrl()
                        ),
                        ['a']
                    ) ?>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>
