<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Multi;
use Magento\Framework\Escaper;

/** @var Multi $block */
/** @var Escaper $escaper */

$option = $block->getOption();
$selections = $option->getSelections();

$optionId = $option->getId();
$selectedOptions = [];

$default = $option->getDefaultSelection();
list($defaultQty, $canChangeQty) = $block->getDefaultValues();
?>
<?php if ($block->showSingle()): ?>
    <?= /* @noEscape */ $block->getSelectionQtyTitlePrice($selections[0]) ?>
    <input type="hidden"
           class="bundle-option-<?= (int)$optionId ?>  product bundle option"
           name="bundle_option[<?= (int)$optionId ?>]"
           form="product_addtocart_form"
           value="<?= (int)$selections[0]->getSelectionId() ?>"
           id="bundle-option-<?= (int)$optionId ?>-<?= (int)$selections[0]->getSelectionId() ?>"
           checked="checked"
           data-option-id="<?= (int)$optionId ?>"
           data-selection-id="<?= (int)$selections[0]->getSelectionId() ?>"
    />
<?php else: ?>
    <select multiple="multiple"
            size="5"
            id="bundle-option-<?= (int)$optionId ?>"
            name="bundle_option[<?= (int)$optionId ?>][]"
            form="product_addtocart_form"
            class="bundle-option-<?= (int)$optionId ?>
                form-multiselect"
            <?php if ($option->getRequired()): ?>
                required="required"
            <?php endif; ?>
            data-option-id="<?= (int)$optionId ?>"
            x-on:change="calculateTotalPrice()"
    >
        <?php if (!$option->getRequired()): ?>
            <option value=""><?= $escaper->escapeHtml(__('None')) ?></option>
        <?php endif; ?>
        <?php foreach ($selections as $selection): ?>
            <?php $selectionId = $selection->getSelectionId(); ?>
            <?php $optionSelectionId = $optionId . '-' . $selectionId ?>
            <option value="<?= (int)$selectionId ?>"
                <?php if ($block->isSelected($selection)): ?>
                    selected="selected"
                <?php endif; ?>
                <?php if (!$selection->isSaleable()): ?>
                    disabled="disabled"
                <?php endif; ?>
                    data-option-id="<?= $escaper->escapeHtmlAttr($optionSelectionId) ?>"
            >
                <?= /* @noEscape */ $block->getSelectionQtyTitlePrice($selection, false) ?>
            </option>
        <?php endforeach; ?>
    </select>
<?php endif; ?>
