<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Select;
use Magento\Framework\Escaper;

/** @var Select $block */
/** @var Escaper $escaper */

$option = $block->getOption();
$selections = $option->getSelections();
$default = $option->getDefaultSelection();
list($defaultQty, $canChangeQty) = $block->getDefaultValues();

$optionId = $option->getId();
$activeSelectOptions = [];
?>
<?php if ($block->showSingle()): ?>
    <?= /* @noEscape */ $block->getSelectionTitlePrice($selections[0]) ?>
    <?= /* @noEscape */ $block->getTierPriceRenderer()->renderTierPrice($selections[0]) ?>
    <input type="hidden"
           class="bundle-option-<?= (int)$optionId ?>  product bundle option"
           name="bundle_option[<?= (int)$optionId ?>]"
           value="<?= (int)$selections[0]->getSelectionId() ?>"
           id="bundle-option-<?= (int)$optionId ?>-<?= (int)$selections[0]->getSelectionId() ?>"
           checked="checked"
           form="product_addtocart_form"
           data-option-id="<?= (int)$optionId ?>"
           data-selection-id="<?= (int)$selections[0]->getSelectionId() ?>"
    />
<?php else: ?>
    <select id="bundle-option-<?= (int)$optionId ?>"
            name="bundle_option[<?= (int)$optionId ?>]"
            class="form-select mb-4"
            form="product_addtocart_form"
            data-option-id="<?= (int)$optionId ?>"
            x-on:change="
                activeSelectOptions['<?= (int)$optionId ?>'] = [$event.target.value];
                $nextTick(() => {calculateTotalPrice()});
            "
        <?= $option->getRequired() ? 'required' : '' ?>
    >
        <option value=""><?= $escaper->escapeHtml(__('Choose a selection...')) ?></option>
        <?php foreach ($selections as $selection): ?>
            <?php $selectionId = $selection->getSelectionId(); ?>
            <?php $optionSelectionId = $optionId . '-' . $selectionId ?>
            <option value="<?= (int) $selectionId ?>"
                <?php if ($block->isSelected($selection)) {
                    array_push($activeSelectOptions, $selectionId);
                    echo 'selected = "selected"';
                } ?>
                <?php if (!$selection->isSaleable()): ?>
                    disabled="disabled"
                <?php endif; ?>
                data-option-id="<?= $escaper->escapeHtmlAttr($optionSelectionId) ?>"
            >
                <?= /* @noEscape */ $block->getSelectionTitlePrice($selection, false) ?>
            </option>
        <?php endforeach; ?>
    </select>

    <div id="option-tier-prices-<?= (int)$optionId ?>"
         class="option-tier-prices"
    >
        <?php foreach ($selections as $selection): ?>
            <?php $selectionId = $selection->getSelectionId(); ?>
            <?php $optionSelectionId = $optionId . '-' . $selectionId ?>
            <div data-role="selection-tier-prices"
                 class="selection-tier-prices" x-cloak
                 x-show="activeSelectOptions[<?= (int) $optionId ?>] &&
                    activeSelectOptions[<?= (int) $optionId ?>].includes(
                        '<?= (int)$selectionId ?>'
                    )"
            >
                <?= /* @noEscape */ $block->getTierPriceRenderer()->renderTierPrice($selection) ?>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

<div class="field qty qty-holder mt-2">
    <label class="label font-semibold mr-4"
           for="bundle-option-<?= (int)$optionId ?>-qty-input">
        <span>
            <?= $escaper->escapeHtml(__('Quantity')) ?>
        </span>
    </label>
    <script>
        const qtyHelper_<?= (int)$optionId ?> = (() => {
            return {
                getQtyValue(optionConfig, activeSelectOptions) {
                    const activeSelectOption = activeSelectOptions[<?= (int)$optionId ?>];
                    if (!activeSelectOption || !activeSelectOption.length) {
                        return "<?= $escaper->escapeHtmlAttr($defaultQty) ?>";
                    }
                    const selectionConfig = optionConfig
                        .options[<?= (int)$optionId ?>]
                        .selections[activeSelectOption[0]];

                    return selectionConfig ? selectionConfig.qty : "0";
                },
                getQtyDisabled(optionConfig, activeSelectOptions) {
                    const activeSelectOption = activeSelectOptions[<?= (int)$optionId ?>];
                    if (!activeSelectOption || !activeSelectOption.length) {
                        return true;
                    }
                    const selectionConfig = optionConfig
                        .options[<?= (int)$optionId ?>]
                        .selections[activeSelectOption[0]];

                    return !selectionConfig || selectionConfig.customQty === "0";

                },
                setQtyValue(optionConfig, activeSelectOptions, value) {
                    const activeSelectOption = activeSelectOptions[<?= (int)$optionId ?>];
                    if (!activeSelectOption || !activeSelectOption.length) {
                        return;
                    }
                    const selectionConfig = optionConfig
                        .options[<?= (int)$optionId ?>]
                        .selections[activeSelectOption[0]];

                    selectionConfig.qty = value;
                }
            }
        })();
    </script>
    <input
        id="bundle-option-<?= (int)$optionId ?>-qty-input"
        class="form-input w-20 disabled:opacity-75"
        type="number"
        min="0"
        name="bundle_option_qty[<?= (int)$optionId ?>]"
        value="<?= $escaper->escapeHtmlAttr($defaultQty) ?>"
        :value="qtyHelper_<?= (int)$optionId ?>.getQtyValue(optionConfig, activeSelectOptions)"
        form="product_addtocart_form"
        x-on:change="
            qtyHelper_<?= (int)$optionId ?>.setQtyValue(optionConfig, activeSelectOptions, $event.target.value);
            calculateTotalPrice($dispatch)"
        <?php if (!$canChangeQty): ?> disabled <?php endif; ?>
        :disabled="qtyHelper_<?= (int)$optionId ?>.getQtyDisabled(optionConfig, activeSelectOptions)"
    />
</div>

<?php
/**
 * Set the initial values on activeSelectOptions
 * Because we can't tell which options are selected when configuring a product that is in
 * the cart (through checkout/cart/configure) in the main Alpine component
 */
?>
<div @set-selected-options.window="activeSelectOptions['<?= (int)$optionId ?>'] =
        <?= $escaper->escapeHtmlAttr(json_encode($activeSelectOptions)) ?>">
</div>
