<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;
use Magento\Catalog\Block\Category\Widget\Link;

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/** @var Template $block */
/** @var Escaper $escaper */
?>
<label for="menu-toggle" class="cursor-pointer md:hidden block order-2 sm:order-1"
       @click="menu.open = !menu.open"
       @keydown.window.escape="menu.open=false"
       :class="{ 'transition transform-180': menu.open }"
>
    <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg"
         width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path x-show="menu.open" fill-rule="evenodd" clip-rule="evenodd"
              d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0
              1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828
              4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z">
        </path>
        <path x-show="!menu.open" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
</label>
<input class="hidden" type="checkbox" id="menu-toggle">

<div class="md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu"
     :class="{ 'block': menu.open, 'hidden': !menu.open }"
     @click.away="menu.open = false"
     x-show="true"
>
    <nav>
        <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
            <li class="inline-block no-underline hover:text-black hover:underline py-2 px-4">
                <?= $this->getLayout()
                    ->createBlock(Link::class)
                    ->setAnchorText("Women")
                    ->setIdPath("category/20")
                    ->setTemplate("category/widget/link/link_inline.phtml")->toHtml();
                ?>
            </li>
            <li class="inline-block no-underline hover:text-black hover:underline py-2 px-4">
                <?= $this->getLayout()
                    ->createBlock(Link::class)
                    ->setAnchorText("Men")
                    ->setIdPath("category/11")
                    ->setTemplate("category/widget/link/link_inline.phtml")
                    ->toHtml();
                ?>
            </li>
        </ul>
    </nav>
</div>
<script defer>
    function initHeaderNavigation() {
        return {
            open: false
        }
    }
</script>
