<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */

?>
<template x-if="!isLoading && cartEmpty === true">
    <div>
        <?= $block->getChildHtml('checkout_cart_empty_widget') ?>
        <p><?= $escaper->escapeHtml(__('You have no items in your shopping cart.')) ?></p>
        <p><?= $escaper->escapeHtml(
            __(
                'Click <a href="%1">here</a> to continue shopping.',
                $escaper->escapeUrl('')
            ),
            ['a']
        ) ?>
        </p>
        <?= $block->getChildHtml('shopping.cart.table.after') ?>
    </div>
</template>
