<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */
?>
<footer class="text-gray-700 body-font bg-container-darker border-t border-container-darker shadow pb-16">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-wrap order-first gap-y-16">
            <?= $block->getChildHtml() ?>
        </div>
    </div>
    <div class="bg-container border-t border-b border-container">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
            <a  href="https://hyva.io"
                class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <span class="ml-3 text-xl">Hyvä Themes</span>
            </a>
            <p class="text-sm text-gray-800 sm:ml-6 sm:mt-0 mt-4">
                © 2020 Hyva Themes B.V. —
                <a class="text-gray-700 ml-1" href="https://twitter.com/hyva_io"
                   target="_blank" rel="noopener noreferrer">@hyva_io</a>
            </p>
        </div>
    </div>
</footer>

