.text-sans-serif {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
    @apply antialiased;
}

body {
    @apply text-black text-sans-serif leading-normal text-base tracking-normal;
}
