<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */
?>
<?= $block->getChildHtml('cart_main_js') ?>
<div class="container">
    <section class="relative min-h-50"
             :class="{ 'min-h-50 sm:min-h-75 lg:min-h-50': cartEmpty }"
             x-data="initCart()"
             x-init="getCartByLocalStorage(); isTouchEnabled();"
             @private-content-loaded.window="getCartByCustomerSectionData($event.detail.data)"
    >
        <?= $block->getChildHtml('loading') ?>
        <?= $block->getChildHtml('items') ?>
        <div class="grid lg:grid-cols-2" x-show="!isLoading && !cartEmpty">
            <div>
                <?= $block->getChildHtml('coupon') ?>
            </div>
            <div>
                <?= $block->getChildHtml('totals') ?>
            </div>
        </div>
        <div x-show="!isLoading && !cartEmpty">
        <?= $block->getChildHtml('checkout.cart.methods.bottom') ?>
        </div>
        <?= $block->getChildHtml('empty') ?>
    </section>
</div>
