<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\Escaper;

/** @var Escaper $escaper */

$product = $block->getProduct();
?>
<?php if ($product->isSaleable() && $block->hasOptions()): ?>
<div id="bundleSummary"
     class="block-bundle-summary card w-full sm:w-1/2 lg:w-1/3">
    <div class="title mb-2">
        <h3 class="text-gray-900 text-2xl title-font font-base text-center md:text-left w-full">
            <?= $escaper->escapeHtml(__('Your Customization')) ?>
        </h3>
    </div>
    <div class="content">
        <div class="bundle-info">
            <div class="product-details">
                <h3 class="product-name text-lg font-semibold">
                    <?= $escaper->escapeHtml($product->getName()) ?>
                </h3>

                <?= $block->getChildHtml('product.info.form') ?>

                <?= $block->getChildHtml("product.info.bundle.price") ?>

                <?php if ($product->isSaleable()): ?>
                <div class="flex my-4 sm:mt-0 justify-between lg:justify-start">
                    <?= $block->getChildHtml("product.info.quantity") ?>
                    <?= $block->getChildHtml("product.info.addtocart") ?>
                </div>
                <div class="flex my-4 sm:mt-0">
                    <?= $block->getChildHtml("addtocart.shortcut.buttons") ?>
                </div>
                <?php endif; ?>

            </div>

            <div class="tier-price-container my-2 py-4">
                <?= $block->getChildHtml("product.price.tier") ?>
            </div>

        </div>
        <div x-data="initBundleSummary()"
             x-spread="eventListeners"
             class="bundle-summary"
        >
            <div x-show="selectedOptions.length">
                <div class="mb-2 subtitle text-gray-900 text-2xl title-font font-base text-center md:text-left w-full">
                    <?= $escaper->escapeHtml(__('Summary')) ?>
                </div>
                <div>
                    <ul class="bundle items">
                        <template x-for="option in selectedOptions">
                        <li class="mb-2" x-show="option.products.length">
                            <span class="text-base font-semibold" x-html="option.label"></span>
                            <template x-for="product in option.products">
                                <div><span x-html="product.qty"></span> x <span x-html="product.name"></span></div>
                            </template>
                        </li>
                    </template>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            function initBundleSummary() {
                return {
                    selectedOptions: [],
                    eventListeners: {
                        ['@update-bundle-option-selection.window'](event) {
                            this.selectedOptions = event.detail;
                        }
                    }
                }
            }
        </script>
    </div>
</div>
<?php endif; ?>
