<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Hyva\Theme\Model\ViewModelRegistry;
use Hyva\Theme\ViewModel\ProductAttributes;
use Hyva\Theme\ViewModel\ProductCompare;
use Hyva\Theme\ViewModel\ProductPage;
use Hyva\Theme\ViewModel\Wishlist;
use Magento\Catalog\Model\Product;
use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

/** @var Template $block */
/** @var Escaper $escaper */
/** @var ViewModelRegistry $viewModels */

/** @var ProductPage $productViewModel */
$productViewModel = $viewModels->require(ProductPage::class);
/** @var ProductAttributes $attributesViewModel */
$attributesViewModel = $viewModels->require(ProductAttributes::class);
/** @var Product $product */
$product = $productViewModel->getProduct();

?>
<div class="order-2 w-full mb-6 md:w-7/12 md:pl-5 lg:pl-10 md:py-6 lg:w-1/2 md:mb-0">
    <h1 class="mb-3 text-3xl font-medium text-gray-900 title-font">
        <?= $escaper->escapeHtml($product->getName()) ?>
    </h1>

    <div class="mb-2 cursor-pointer"
         onclick="document.getElementById('customer-reviews').scrollIntoView({behavior: 'smooth'})">
        <?= $block->getChildHtml('product.info.review') ?>
    </div>

    <?php if ($shortDescription = $productViewModel->getShortDescription()) { ?>
        <div class="mb-4 leading-relaxed product-description prose"><?= /* @noEscape */
            $shortDescription ?></div>
    <?php } ?>

    <div class="flex justify-between my-4">

        <?= $block->getChildHtml("product.info.stockstatus") ?>

        <?= $block->getChildHtml("alert.urls") ?>
    </div>

    <div>
        <?php foreach ($block->getAttributes() as $attributeConfig) {
            $attribute = $attributesViewModel->getAttributeFromLayoutConfig($attributeConfig);
            ?>
            <?php if ($value = $attribute['value'] ?? null) { ?>
                <div
                    class="flex border-t border-gray-300 py-2 last:mb-6 last:border-b <?= $attribute['value'] ?: "" ?>">
                    <span class="w-1/2 text-left text-gray-700">
                        <?= $escaper->escapeHtml($attribute['label']) ?>
                    </span>
                    <span class="w-1/2 ml-2 text-left text-gray-900">
                        <?= $escaper->escapeHtml($value) ?>
                    </span>
                </div>
            <?php } ?>
        <?php } ?>
    </div>

    <?= $block->getChildHtml('product.info.form') ?>

    <div class="flex flex-col items-end sm:flex-row">

        <?= $block->getChildHtml("product.info.price") ?>

        <div class="flex mt-4 ml-auto sm:mt-0">
        <?php if ($product->isSaleable()): ?>
            <?= $block->getChildHtml("product.info.quantity") ?>
            <?= $block->getChildHtml("product.info.addtocart") ?>
        <?php endif; ?>

        <?= $block->getChildHtml('product.info.addtowishlist'); ?>

        <?= $block->getChildHtml('product.info.addtocompare'); ?>

        </div>
    </div>

    <?php if ($product->isSaleable()): ?>
        <div class="flex mt-4 ml-auto justify-end">
            <?= $block->getChildHtml('addtocart.shortcut.buttons') ?>
        </div>
    <?php endif; ?>

    <?php if ($tierPriceBlock = $block->getChildHtml("product.price.tier")): ?>
    <div class="py-4 my-2 tier-price-container">
        <?= /** @noEscape */ $tierPriceBlock ?>
    </div>
    <?php endif; ?>

    <?= $block->getChildHtml("product.info.additional") ?>
</div>
