<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

// phpcs:disable Generic.Files.LineLength.TooLong

use Hyva\Theme\Model\ViewModelRegistry;
use Magento\Framework\Escaper;
use Magento\Framework\View\Helper\SecureHtmlRenderer;
use Magento\Swatches\Block\LayeredNavigation\RenderLayered;
use Magento\Swatches\ViewModel\Product\Renderer\Configurable as ConfigurableViewModel;

/** @var RenderLayered $block */
/** @var SecureHtmlRenderer $secureRenderer */
/** @var Escaper $escaper */
/** @var ViewModelRegistry $viewModels */

/** @var ConfigurableViewModel $configurableViewModel */
$configurableViewModel = $viewModels->require(ConfigurableViewModel::class);

$swatchData = $block->getSwatchData();
?>
<script>
    function initLayeredSwatch_<?= $escaper->escapeJs($swatchData['attribute_code']) ?>() {
        return {
            getSwatchType(typeNumber) {
                switch (typeNumber) {
                    case "1":
                        return "color"
                    case "2":
                        return "image"
                    case "0":
                    default:
                        return "text"
                }
            },
            getSwatchBackgroundStyle(type, value, image) {
                if (this.getSwatchType(type) === "color") {
                    return 'background-color:' + value;
                } else if (this.getSwatchType(type) === "image") {
                    return "background: #ffffff url('" + image + "') no-repeat center";
                } else {
                    return '';
                }
            },
            activeTooltipItem: false,
            tooltipPositionElement: false,
            getTooltipImageStyle() {
                const type = this.activeTooltipItem.type;

                if (this.getSwatchType(type) === "color") {
                    return 'background-color:' + this.activeTooltipItem.value + '; width: 110px; height: 90px;';
                } else if (this.getSwatchType(type) === "image") {
                    return "background: #ffffff url('" + this.activeTooltipItem.thumb +
                        "') center center no-repeat; width: 110px; height: 90px;";
                } else {
                    return '';
                }
            },
            getTooltipPosition() {
                return this.tooltipPositionElement ?
                    (
                        `top: ${this.tooltipPositionElement.offsetTop}px;` +
                        `left: ${this.tooltipPositionElement.offsetLeft}px;`
                    ) : ''
            }
        }
    }
</script>

<div class="swatch-attribute swatch-layered <?= $escaper->escapeHtmlAttr($swatchData['attribute_code']) ?>"
     x-data="initLayeredSwatch_<?= $escaper->escapeJs($swatchData['attribute_code']) ?>()"
>
    <div class="swatch-attribute-options clearfix">
        <?php foreach ($swatchData['options'] as $option => $label): ?>
            <a href="<?= $escaper->escapeUrl($label['link']) ?>" rel="nofollow"
               aria-label="<?= $escaper->escapeHtmlAttr($label['label']) ?>"
               class="swatch-option-link-layered swatch-option border-2 cursor-pointer bg-container-lighter shadow-sm relative select-none border-container-darker"
               :style="getSwatchBackgroundStyle(
                    '<?= (string) $swatchData['swatches'][$option]['type'] ?>',
                    '<?= (string) $swatchData['swatches'][$option]['value'] ?>',
                    '<?= $escaper->escapeUrl($block->getSwatchPath(
                        'swatch_image',
                        $swatchData['swatches'][$option]['value']
                    )) ?>'
                )"
                <?php if ($configurableViewModel->getShowSwatchTooltip()): ?>
                    <?php $swatchThumbPath = $block->getSwatchPath(
                        'swatch_thumb',
                        $swatchData['swatches'][$option]['value']
                    ); ?>
                    @mouseenter.self="activeTooltipItem = {
                            attribute: '<?= $escaper->escapeHtmlAttr($swatchData['swatches'][$option]['value']) ?>',
                            type: '<?= $escaper->escapeHtmlAttr($swatchData['swatches'][$option]['type']) ?>',
                            id: '<?= $escaper->escapeHtmlAttr($option) ?>',
                            label: '<?= $escaper->escapeHtmlAttr($label['label']) ?>',
                            thumb: '<?= $escaper->escapeUrl($swatchThumbPath) ?>',
                            value: '<?= $escaper->escapeHtmlAttr($swatchData['swatches'][$option]['value']) ?>'
                        }; tooltipPositionElement = $event.target;"
                    @mouseleave.self="activeTooltipItem = false"
                <?php endif; ?>
            >
                <?php if ($swatchData['swatches'][$option]['type'] === "0"): ?>
                    <?= $escaper->escapeHtml($swatchData['swatches'][$option]['value']) ?>
                <?php endif; ?>
            </a>
        <?php endforeach; ?>
    </div>
    <?php if ($configurableViewModel->getShowSwatchTooltip()): ?>
        <template x-if="activeTooltipItem">
            <div class="absolute"
                 :style="getTooltipPosition()"
            >
                <div class="shadow-lg">
                    <div class="absolute top-0 left-0 z-10 min-w-20 p-2 -mt-6 text-sm leading-tight text-black transform
                -translate-x-1/2 -translate-y-full bg-white rounded-lg shadow-lg text-center">
                        <template x-if="activeTooltipItem.type !== '0'">
                            <div class="inline-block border border-container shadow-sm"
                                 :style="getTooltipImageStyle(activeTooltipItem)"
                            ></div>
                        </template>
                        <span class="subtitle text-lg font-semibold"
                              x-html="activeTooltipItem.label"
                        ></span>
                    </div>
                    <svg class="absolute z-10 w-8 h-8 text-white transform -translate-x-1/5
                -translate-y-8 fill-current stroke-current" width="12" height="12">
                        <rect x="12" y="-12" width="12" height="12" transform="rotate(45)" class="shadow-xl" />
                    </svg>
                </div>
            </div>
        </template>
    <?php endif; ?>
</div>

