<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Customer\Block\Widget\Name;
use Magento\Framework\Escaper;
use Hyva\Theme\ViewModel\ReCaptcha;

/** @var \Magento\Customer\Block\Form\Edit $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
/** @var Escaper $escaper */

/** @var ReCaptcha $recaptchaViewModel */
//Do not replace this with $viewModels->require(ReCaptcha::class); that might break the dependency on
//Magento's Recaptcha module
$recaptchaViewModel = $block->getData('viewModelRecaptcha');
$recaptchaInputFieldBlock = '';
$recaptchaLegalNoticeBlock = '';
if ($recaptchaViewModel !== null && $recaptchaData = $recaptchaViewModel->getRecaptchaData('customer_edit')) {
    $recaptchaInputFieldBlock = $recaptchaData[ReCaptcha::RECAPTCHA_INPUT_FIELD];
    $recaptchaLegalNoticeBlock = $recaptchaData[ReCaptcha::RECAPTCHA_LEGAL_NOTICE_BLOCK];
}
?>
<form class="form form-edit-account"
      action="<?= $escaper->escapeUrl($block->getUrl('customer/account/editPost')) ?>"
      method="post" id="form-validate"
      enctype="multipart/form-data"
      x-data="initForm()"
      @submit.prevent="submitForm()"
      autocomplete="off">
    <fieldset class="fieldset info">
        <?= $block->getBlockHtml('formkey') ?>
        <legend class="legend"><span><?= $escaper->escapeHtml(__('Account Information')) ?></span></legend>
        <br>
        <?= $block->getLayout()->createBlock(Name::class)->setObject($block->getCustomer())->toHtml() ?>
        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
        <?php endif ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
        <?php endif ?>

        <div class="field email required">
            <label class="label" for="email"><span><?= $escaper->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email" autocomplete="email" required
                       value="<?= $escaper->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>"
                       title="<?= $escaper->escapeHtmlAttr(__('Email')) ?>"
                       class="form-input"/>
            </div>
        </div>

        <div class="field choice">
            <input type="checkbox" name="change_password" id="change-password" value="1"
                   title="<?= $escaper->escapeHtmlAttr(__('Change Password')) ?>"
                   x-on:change="showPasswordFields = !showPasswordFields"
                <?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox"/>
            <label class="label" for="change-password">
                <span><?= $escaper->escapeHtml(__('Change Password')) ?></span>
            </label>
        </div>

        <template x-if="showPasswordFields">
            <div>
                <div class="field password current required">
                    <label class="label" for="current-password">
                        <span><?= $escaper->escapeHtml(__('Current Password')) ?></span>
                    </label>
                    <div class="control">
                        <input type="password" class="form-input" name="current_password" id="current-password"
                               data-input="current-password"
                               autocomplete="off"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="password"><span><?= $escaper->escapeHtml(
                        __('New Password')
                    ) ?></span></label>
                    <div class="control">
                        <?php $minimumPasswordLength = $block->getMinimumPasswordLength() ?>
                        <input type="password" class="form-input" name="password" id="password" required
                               x-on:change="checkPasswordsMatch()"
                               minlength="<?= $escaper->escapeHtmlAttr($minimumPasswordLength) ?>" autocomplete="off"/>
                    </div>
                    <p class="text-sm text-secondary mt-3"><?= $escaper->escapeHtml(
                        __(
                            'Minimum of different classes of characters in password is %1.'
                                . ' Classes of characters: Lower Case, Upper Case, Digits, Special Characters.',
                            $block->getRequiredCharacterClassesNumber()
                        )
                    ) ?></p>
                </div>

                <div class="field">
                    <label class="label" for="password-confirmation">
                        <span><?= $escaper->escapeHtml(__('Confirm New Password')) ?></span>
                    </label>
                    <div class="control">
                        <input type="password" class="form-input" name="password_confirmation"
                               id="password-confirmation"
                               x-on:change="checkPasswordsMatch()"
                               autocomplete="off"/>
                    </div>
                </div>

                <p class="my-4 text-red invisible"
                   :class="passwordsMatching ? 'invisible' : 'visible'"
                >
                    <?= $escaper->escapeHtml(__('Your password confirmation must match your password.')) ?>
                </p>
            </div>
        </template>
    </fieldset>
    <?= $block->getChildHtml('form_additional_info') ?>
    <?= $block->getBlockHtml($recaptchaInputFieldBlock) ?>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $escaper->escapeHtmlAttr(__('Save')) ?>">
                <span><?= $escaper->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $escaper->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $escaper->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>
<div class="w-full">
    <?= $block->getBlockHtml($recaptchaLegalNoticeBlock) ?>
</div>
<script defer>
    function initForm() {
        return {
            errors: 0,
            hasCaptchaToken: 0,
            displayErrorMessage: false,
            errorMessages: [],
            passwordsMatching: true,
            showPasswordFields: <?= $block->getChangePassword()
                ? $escaper->escapeJs('true')
                : $escaper->escapeJs(
                    'false'
                ) ?>,
            checkPasswordsMatch: function () {
                if (!this.showPasswordFields) {
                    return true;
                }
                if (document.getElementById('password').value ===
                    document.getElementById('password-confirmation').value) {
                        this.passwordsMatching = true;
                        return true;
                    }
                this.passwordsMatching = false;
                return false;
            },
            setErrorMessages: function setErrorMessages(messages) {
                this.errorMessages = [messages]
                this.displayErrorMessage = this.errorMessages.length
            },
            submitForm: function () {
                if (!this.checkPasswordsMatch()){
                    return;
                }
                var $form = document.querySelector('#form-validate');
                <?= $block->getChildHtml('recaptcha_validation_customer_edit'); ?>

                if (this.errors === 0) {
                    $form.submit();
                }
            }
        }
    }
</script>
